code.json
[{"id":"788016cb.877fe8","type":"subflow","name":"Subflow 1","info":"","in":[{"x":47.26201629638672,"y":80.71428394317627,"wires":[{"id":"14c8f6cd.eb3709"}]}],"out":[{"x":1578.4525318145752,"y":84.95233011245728,"wires":[{"id":"7adc3712.8523c8","port":0}]}]},{"id":"14c8f6cd.eb3709","type":"function","z":"788016cb.877fe8","name":"Extract relevant Alchemy data","func":"msg.author = msg.features.author || msg.tweet.user.name;\nif (msg.features.title)\n    msg.title = msg.features.title;\n\nvar entities = msg.features.entity;\n\nif(msg.features.text){\n  node.warn(\"text set\");\n  msg.text = msg.features.text;    \n}\n\nvar locations = entities.filter(function(e){\n    return e.type === 'City' || e.type === 'Country';\n});\nif (!locations[0]) return;\nmsg.location = locations.reduce(function(a,b){\n    return a.relevance > b.relevance ? a : b;\n})\nif (msg.location.type === 'Country'){\n    msg.cities = locations.filter(function(e){\n        return e.type === 'City';\n    })\n    msg.cities.sort(function(a, b){\n        return a.relevance < b.relevance;\n    })\n}\nreturn msg;","outputs":1,"noerr":0,"x":231.6191635131836,"y":80.71428298950195,"wires":[["77ffaa5c.880054"]]},{"id":"ce01d524.31fe28","type":"function","z":"788016cb.877fe8","name":"Make DBPedia SPARQL query","func":"var url = \"http://dbpedia.org/sparql\";\nvar selectString = \"SELECT\";\nselectString += \" ?lat ?long\";\nfor (var i = 0; i < msg.cities.length; i++){\n    selectString += \" ?country\" + i + \" ?lat\" + i + \" ?long\" + i;\n}\n\nvar whereString = \"WHERE{\";\nwhereString += \"<\" + msg.location.disambiguated.dbpedia + \"> geo:lat ?lat ; geo:long ?long.\"\n\nfor (var i = 0; i < msg.cities.length; i++){\n    var city = msg.cities[i].disambiguated;\n    if (city)\n        whereString += \" <\" + city.dbpedia + \"> dbo:country ?country\" + i + \"; geo:lat ?lat\" + i + \"; geo:long ?long\" + i + \".\";\n}\nwhereString += '}';\n\nvar query = [\n selectString,\n whereString\n].join(\" \");\n\nmsg.url = url+\"?query=\"+ encodeURIComponent(query) +\"&format=json\";\nreturn msg;","outputs":1,"noerr":0,"x":776.0238723754883,"y":39.58334922790527,"wires":[["d02536fc.2fdac8"]]},{"id":"d02536fc.2fdac8","type":"http request","z":"788016cb.877fe8","name":"DBPedia SPARQL Request","method":"GET","ret":"obj","url":"","x":1031.2857666015625,"y":40.61904716491699,"wires":[["c692c598.396d38"]]},{"id":"c692c598.396d38","type":"function","z":"788016cb.877fe8","name":"City in Country Check","func":"if (!msg.payload || !msg.payload.results){\n    node.error(\"Results does not exist in the result: \" + JSON.stringify(msg.payload.results));\n    return;\n}\nvar vars = msg.payload.head.vars;\nvar countryVars = vars.filter(function(a){\n    return a.match(/^country[0-9]+/);\n});\nvar latVars = vars.filter(function(a){\n    return a.match(/^lat[0-9]+/);\n});\nvar longVars = vars.filter(function(a){\n    return a.match(/^long[0-9]+/);\n});\nvar countriesAndGeo = msg.payload.results.bindings[0];\nmsg.loc = {};\nfor (var i = 0; i < countryVars.length; i++){\n    var country = countriesAndGeo[countryVars[i]];\n    if (country && country.value === msg.location.disambiguated.dbpedia){\n        msg.location = msg.cities[i];\n        msg.loc.lat = countriesAndGeo[latVars[i]].value || msg.tweet.user.location.lat;\n        msg.loc.lon = countriesAndGeo[longVars[i]].value || msg.tweet.user.location.lon;\n        return msg;\n    }\n}\n\nmsg.loc.lat = countriesAndGeo[\"lat\"].value || msg.tweet.user.location.lat;\nmsg.loc.lon = countriesAndGeo[\"long\"].value || msg.tweet.user.location.lon;\nreturn msg;","outputs":1,"noerr":0,"x":1259.7144927978516,"y":40.90480613708496,"wires":[["7adc3712.8523c8"]]},{"id":"77ffaa5c.880054","type":"switch","z":"788016cb.877fe8","name":"Is Country most relevant?","property":"cities","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":506.90491485595703,"y":81.42857456207275,"wires":[["ce01d524.31fe28"],["871bbb8e.78e448"]]},{"id":"80330f32.7fccf","type":"function","z":"788016cb.877fe8","name":"Extract geolocation data","func":"var loc = msg.payload.results.bindings[0];\nmsg.loc = {};\nmsg.loc.lat = loc.lat.value || msg.tweet.user.location.lat;\nmsg.loc.lon = loc.long.value || msg.tweet.user.location.lon;\n\nreturn msg;","outputs":1,"noerr":0,"x":1271.4286727905273,"y":124.47617721557617,"wires":[["7adc3712.8523c8"]]},{"id":"28edbb9c.d71244","type":"http request","z":"788016cb.877fe8","name":"DBPedia SPARQL Request","method":"GET","ret":"obj","url":"","x":1036.0952224731445,"y":124.99999713897705,"wires":[["80330f32.7fccf"]]},{"id":"871bbb8e.78e448","type":"function","z":"788016cb.877fe8","name":"Make DBPedia SPARQL query","func":"var url = \"http://dbpedia.org/sparql\";\n//country_uri = \"http://dbpedia.org/resource/Niger\";\nlocation_uri = msg.location.disambiguated.dbpedia;\nvar query = [\n \"PREFIX geo: <http://www.w3.org/2003/01/geo/wgs84_pos#>\",\n \"SELECT ?lat ?long\",\n \"WHERE{<\"+location_uri+\"> geo:lat ?lat ; geo:long ?long.}\"\n].join(\" \");\n\nmsg.url = url+\"?query=\"+ encodeURIComponent(query) +\"&format=json\";\nreturn msg;","outputs":1,"noerr":0,"x":775.5713310241699,"y":125.33330917358398,"wires":[["28edbb9c.d71244"]]},{"id":"7adc3712.8523c8","type":"change","z":"788016cb.877fe8","name":"Clear url","rules":[{"t":"delete","p":"url"}],"action":"","property":"","from":"","to":"","reg":false,"x":1477.1428833007812,"y":84.28571510314941,"wires":[[]]},{"id":"42b7c258.bd483c","type":"twitter in","z":"677c448a.9883bc","twitter":"","tags":"Refugees","user":"user","name":"@Refugees tweets","topic":"tweets","x":146.21429443359375,"y":288.09527587890625,"wires":[["bb27483f.44d8b8"]]},{"id":"bb27483f.44d8b8","type":"function","z":"677c448a.9883bc","name":"Extract link or text","func":"if(msg.tweet.entities.urls.length){\n    links = msg.tweet.entities.urls;\n    links = links.map(function(obj){\n        return obj.url;\n    });\n    msg.payload = links\n}\n \nreturn msg;","outputs":1,"noerr":0,"x":366.50001525878906,"y":247.5238037109375,"wires":[["fcf234b4.030dc8"]]},{"id":"dd6e4fcc.2291b","type":"alchemy-feature-extract","z":"677c448a.9883bc","name":"","page-image":"","image-kw":"","feed":"","entity":true,"keyword":"","title":true,"author":true,"taxonomy":"","concept":false,"relation":"","pub-date":"","doc-sentiment":"","x":737.119010925293,"y":317.52382373809814,"wires":[["f43b8f20.0bc47"]]},{"id":"b109152c.4ef6e8","type":"function","z":"677c448a.9883bc","name":"Create mock tweet","func":"msg = { topic: 'tweets/Serr_zubee',\n  payload: ['http://www.unhcr.org/564200fd1e.html'],\n  lang: 'en',\n  tweet: \n   { created_at: 'Wed Nov 11 08:35:20 +0000 2015',\n     id: 664360750706724900,\n     id_str: '664360750706724864',\n     text: 'Stuff in niger http://www.unhcr.org/564200fd1e.html',\n     source: '<a href=\"http://twitter.com/download/android\" rel=\"nofollow\">Twitter for Android</a>',\n     truncated: false,\n     in_reply_to_status_id: null,\n     in_reply_to_status_id_str: null,\n     in_reply_to_user_id: null,\n     in_reply_to_user_id_str: null,\n     in_reply_to_screen_name: null,\n     user: \n      { id: 169604115,\n        id_str: '169604115',\n        name: 'Zubee',\n        screen_name: 'Serr_zubee',\n        location: {\"lat\":13.533334,\"lon\":2.083333},\n        url: null,\n        description: null,\n        protected: false,\n        verified: false,\n        followers_count: 1316,\n        friends_count: 989,\n        listed_count: 6,\n        favourites_count: 169,\n        statuses_count: 37699,\n        created_at: 'Thu Jul 22 18:53:39 +0000 2010',\n        utc_offset: -10800,\n        time_zone: 'Greenland',\n        geo_enabled: true,\n        lang: 'en',\n        contributors_enabled: false,\n        is_translator: false,\n        profile_background_color: '131516',\n        profile_background_image_url: 'http://pbs.twimg.com/profile_background_images/378800000117563543/99e42d29a8e568f33e139bd93fd5f87b.jpeg',\n        profile_background_image_url_https: 'https://pbs.twimg.com/profile_background_images/378800000117563543/99e42d29a8e568f33e139bd93fd5f87b.jpeg',\n        profile_background_tile: true,\n        profile_link_color: '009999',\n        profile_sidebar_border_color: 'FFFFFF',\n        profile_sidebar_fill_color: 'EFEFEF',\n        profile_text_color: '333333',\n        profile_use_background_image: true,\n        profile_image_url: 'http://pbs.twimg.com/profile_images/663315322619998208/CM49H_l-_normal.jpg',\n        profile_image_url_https: 'https://pbs.twimg.com/profile_images/663315322619998208/CM49H_l-_normal.jpg',\n        profile_banner_url: 'https://pbs.twimg.com/profile_banners/169604115/1447056426',\n        default_profile: false,\n        default_profile_image: false,\n        following: null,\n        follow_request_sent: null,\n        notifications: null },\n     geo: null,\n     coordinates: null,\n     place: null,\n     contributors: null,\n     quoted_status_id: 664307028752511000,\n     quoted_status_id_str: '664307028752510976',\n     quoted_status: \n      { created_at: 'Wed Nov 11 05:01:52 +0000 2015',\n        id: 664307028752511000,\n        id_str: '664307028752510976',\n        text: 'Igbo girls are too tough... #HelloChallenge 😁 https://t.co/dlyy8a422T',\n        source: '<a href=\"http://twitter.com/download/android\" rel=\"nofollow\">Twitter for Android</a>',\n        truncated: false,\n        in_reply_to_status_id: null,\n        in_reply_to_status_id_str: null,\n        in_reply_to_user_id: null,\n        in_reply_to_user_id_str: null,\n        in_reply_to_screen_name: null,\n        user: [Object],\n        geo: null,\n        coordinates: null,\n        place: null,\n        contributors: null,\n        is_quote_status: false,\n        retweet_count: 0,\n        favorite_count: 0,\n        entities: [Object],\n        extended_entities: [Object],\n        favorited: false,\n        retweeted: false,\n        possibly_sensitive: false,\n        filter_level: 'low',\n        lang: 'en' },\n     is_quote_status: true,\n     retweet_count: 0,\n     favorite_count: 0,\n     entities: { hashtags: [], urls: [Object], user_mentions: [], symbols: [] },\n     favorited: false,\n     retweeted: false,\n     possibly_sensitive: false,\n     filter_level: 'low',\n     lang: 'en',\n     timestamp_ms: '1447230920851' },\n  _msgid: 'e5adad5c.1a525' }\n\nreturn msg;","outputs":1,"noerr":0,"x":372.6428680419922,"y":392.9523878097534,"wires":[["fcf234b4.030dc8"]]},{"id":"9859ca4b.67a638","type":"inject","z":"677c448a.9883bc","name":"Send mock tweet to Alchemy","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":146.28572845458984,"y":392.3809757232666,"wires":[["b109152c.4ef6e8"]]},{"id":"fcf234b4.030dc8","type":"function","z":"677c448a.9883bc","name":"Extract URL","func":"msg.payload = msg.payload[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":576.4999618530273,"y":317.0952396392822,"wires":[["dd6e4fcc.2291b"]]},{"id":"6bfd7794.940288","type":"twitter in","z":"677c448a.9883bc","twitter":"","tags":"AHjelmqvist","user":"user","name":"My tweets","topic":"tweets","x":138.21429443359375,"y":208.0952663421631,"wires":[["bb27483f.44d8b8"]]},{"id":"f43b8f20.0bc47","type":"subflow:788016cb.877fe8","z":"677c448a.9883bc","name":"Extract relevant Alchemy data","x":956.452335357666,"y":317.142861366272,"wires":[["9d100171.62f"]]},{"id":"f8d5d1ac.072a3","type":"debug","z":"677c448a.9883bc","name":"","active":true,"console":"true","complete":"true","x":1574.6190185546875,"y":314.1429138183594,"wires":[]},{"id":"ab07f363.54f81","type":"ushahidi-post","z":"677c448a.9883bc","name":"","api_endpoint":"http://159.122.223.2:8080/","post_status":"published","x":1417.6666259765625,"y":240,"wires":[["f8d5d1ac.072a3"]]},{"id":"d21dddf2.2de22","type":"catch","z":"677c448a.9883bc","name":"","scope":null,"x":645,"y":424,"wires":[["70788d25.8f8774"]]},{"id":"70788d25.8f8774","type":"debug","z":"677c448a.9883bc","name":"","active":true,"console":"false","complete":"false","x":799,"y":423,"wires":[]},{"id":"9d100171.62f","type":"function","z":"677c448a.9883bc","name":"Prepare for Awesomeness","func":"//replacePattern = /(\\b(https?|ftp):\\/\\/[-A-Z0-9+&@#\\/%?=~_|!:,.;]*[-A-Z0-9+&@#\\/%=~_|])/gim;\n//msg.payload = msg.tweet.text.replace(replacePattern, '<a href=\"$1\" target=\"_blank\">$1</a>');\nmsg.payload = \"@\" + msg.tweet.user.screen_name + \": \" +  msg.tweet.text;\nreturn msg;","outputs":1,"noerr":0,"x":1208,"y":317,"wires":[["ab07f363.54f81"]]}]
