code.json
[{"id":"df3a29e.f20c5d8","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"c961d214.369e3"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"c961d214.369e3","port":0}]},{"x":455,"y":259,"wires":[{"id":"c961d214.369e3","port":1}]}]},{"id":"c961d214.369e3","type":"function","z":"df3a29e.f20c5d8","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"cf11dcfc.30ee2","type":"debug","z":"d5f868a4.2a0798","name":"","active":true,"console":"false","complete":"true","x":1863,"y":560,"wires":[]},{"id":"b8e99964.471668","type":"twitter in","z":"d5f868a4.2a0798","twitter":"","tags":"Refugees","user":"user","name":"@Refugees tweets","topic":"tweets","x":112,"y":256,"wires":[["2a563368.d5a9cc"]]},{"id":"2a563368.d5a9cc","type":"function","z":"d5f868a4.2a0798","name":"Extract link or text","func":"if(msg.tweet.entities.urls.length){\n    links = msg.tweet.entities.urls;\n    links = links.map(function(obj){\n        return obj.url;\n    });\n    msg.payload = links\n}\n \nreturn msg;","outputs":1,"noerr":0,"x":316,"y":269,"wires":[["2b6d37bf.d492c8"]]},{"id":"83b917f3.7c46e8","type":"inject","z":"d5f868a4.2a0798","name":"Start login Ushahidi","topic":"Ushahidi admin token","payload":"","payloadType":"none","repeat":"3500","crontab":"","once":true,"x":176,"y":650,"wires":[["9be0777d.641f88"]]},{"id":"d96fcd61.26903","type":"function","z":"d5f868a4.2a0798","name":"Make post request for Ushahidi","func":"if (msg.input_type===\"token\"){\n    context.token = msg.payload.access_token;\n    console.log('token saved');\n} else { // type === tweet\n    console.log('recieved a tweet');\n    console.log(context.token);\n    if(context.token){ // only make request if the token is set\n        console.log('making request');\n        var title = msg.tweet.user.screen_name;\n        var content = msg.tweet.text;\n        var loc = msg.geo || msg.tweet.user.location;\n        if (!loc) return;\n        var author = msg.tweet.user.name;\n        \n        msg.payload = {\n            \"title\":title,\n            \"content\":content,\n            \"locale\":\"en_US\",\n            \"status\":\"published\",\n            \"values\": {\n                \"location_default\":[loc]\n            },\n            \"completed_stages\":[1],\n            \"allowed_privileges\":[\"read\",\"create\",\"search\"],\n            \"form\":{\"id\":1},\n            \"author_realname\":author,\n            \"author_email\":\"test@test.com\"\n        };\n\n        msg.headers = {\n            'Content-Type' : 'application/json',\n            'Cache-Control' : 'no-cache',\n            'Authorization' : 'Bearer ' + context.token\n        };\n\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":1298,"y":575,"wires":[["6cec78d2.931388"]]},{"id":"9be0777d.641f88","type":"function","z":"d5f868a4.2a0798","name":"Make admin token request","func":"msg.payload = {\n    \"client_secret\" : \"35e7f0bca957836d05ca0492211b0ac707671261\",\n    \"client_id\" : \"ushahidiui\",\n    \"grant_type\" : \"password\",\n    \"username\" : \"admin\",\n    \"password\" : \"admin\",\n    \"scope\" : \"posts media forms api tags savedsearches sets users stats layers config messages notifications contacts\"\n}\n\nmsg.headers = {\n    'Content-Type' : 'application/json',\n    'Cache-Control' : 'no-cache'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":454,"y":649,"wires":[["553667fb.aac998"]]},{"id":"553667fb.aac998","type":"http request","z":"d5f868a4.2a0798","name":"Request admin token Ushahidi","method":"POST","ret":"obj","url":"http://159.122.223.2:8080//oauth/token","x":757,"y":650,"wires":[["1abd978a.e54268"]]},{"id":"1abd978a.e54268","type":"change","z":"d5f868a4.2a0798","name":"","rules":[{"t":"set","p":"input_type","to":"token"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":602,"wires":[["d96fcd61.26903"]]},{"id":"f710df5.f08ef2","type":"change","z":"d5f868a4.2a0798","name":"","rules":[{"t":"set","p":"input_type","to":"tweet"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":555,"wires":[["d96fcd61.26903"]]},{"id":"6cec78d2.931388","type":"http request","z":"d5f868a4.2a0798","name":"Ushahidi post request","method":"POST","ret":"obj","url":"http://159.122.223.2:8080//api/v3/posts","x":1636,"y":550,"wires":[["cf11dcfc.30ee2"]]},{"id":"aa9195ca.556e68","type":"alchemy-feature-extract","z":"d5f868a4.2a0798","name":"","page-image":"","image-kw":"","feed":"","entity":true,"keyword":"","title":true,"author":true,"taxonomy":"","concept":true,"relation":"","pub-date":"","doc-sentiment":"","x":649,"y":259,"wires":[["a5c3a1d6.5a3c6"]]},{"id":"a5c3a1d6.5a3c6","type":"function","z":"d5f868a4.2a0798","name":"Find country in Alchemy Data","func":"var entities = msg.features.entity;\nvar countries = entities.filter(function(e){\n    return e.type === 'Country';\n});\nif (!countries[0]) return;\n\nmsg.country = countries.reduce(function(a,b){\n    return a.relevance > b.relevance ? a : b;\n});\n\n\nreturn msg;","outputs":1,"noerr":0,"x":835,"y":212,"wires":[["5b95ce77.a46a3"]]},{"id":"a2cdd370.5d323","type":"debug","z":"d5f868a4.2a0798","name":"","active":true,"console":"false","complete":"country","x":1017,"y":292,"wires":[]},{"id":"3421e1bb.cbde1e","type":"http request","z":"d5f868a4.2a0798","name":"DBPedia SPARQL Request","method":"GET","ret":"obj","url":"","x":1280,"y":229,"wires":[["c9143e3a.36ebc"]]},{"id":"5b95ce77.a46a3","type":"function","z":"d5f868a4.2a0798","name":"Make DBPedia SPARQL query","func":"var url = \"http://dbpedia.org/sparql\";\n//country_uri = \"http://dbpedia.org/resource/Niger\";\ncountry_uri = msg.country.disambiguated.dbpedia;\nvar query = [\n \"PREFIX geo: <http://www.w3.org/2003/01/geo/wgs84_pos#>\",\n \"SELECT ?lat ?long\",\n \"WHERE{<\"+country_uri+\"> geo:lat ?lat ; geo:long ?long.}\"\n].join(\" \");\n\nmsg.url = url+\"?query=\"+ encodeURIComponent(query) +\"&format=json\";\nreturn msg;","outputs":1,"noerr":0,"x":1069,"y":166,"wires":[["3421e1bb.cbde1e"]]},{"id":"42e62738.bd19d8","type":"debug","z":"d5f868a4.2a0798","name":"","active":true,"console":"true","complete":"geo","x":1819,"y":228,"wires":[]},{"id":"80fb5e10.7f04a","type":"function","z":"d5f868a4.2a0798","name":"Extract geolocation data","func":"var geo = msg.payload.results.bindings[0];\n\nmsg.geo = {};\nmsg.geo.lat = geo.lat.value;\nmsg.geo.lon = geo.long.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":1572,"y":228,"wires":[["f710df5.f08ef2"]]},{"id":"9629e9d7.69d618","type":"function","z":"d5f868a4.2a0798","name":"Create mock tweet","func":"msg = { topic: 'tweets/Serr_zubee',\n  payload: ['http://www.unhcr.org/564200fd1e.html'],\n  lang: 'en',\n  tweet: \n   { created_at: 'Wed Nov 11 08:35:20 +0000 2015',\n     id: 664360750706724900,\n     id_str: '664360750706724864',\n     text: 'Stuff in niger http://www.unhcr.org/564200fd1e.html',\n     source: '<a href=\"http://twitter.com/download/android\" rel=\"nofollow\">Twitter for Android</a>',\n     truncated: false,\n     in_reply_to_status_id: null,\n     in_reply_to_status_id_str: null,\n     in_reply_to_user_id: null,\n     in_reply_to_user_id_str: null,\n     in_reply_to_screen_name: null,\n     user: \n      { id: 169604115,\n        id_str: '169604115',\n        name: 'Zubee',\n        screen_name: 'Serr_zubee',\n        location: {\"lat\":13.533334,\"lon\":2.083333},\n        url: null,\n        description: null,\n        protected: false,\n        verified: false,\n        followers_count: 1316,\n        friends_count: 989,\n        listed_count: 6,\n        favourites_count: 169,\n        statuses_count: 37699,\n        created_at: 'Thu Jul 22 18:53:39 +0000 2010',\n        utc_offset: -10800,\n        time_zone: 'Greenland',\n        geo_enabled: true,\n        lang: 'en',\n        contributors_enabled: false,\n        is_translator: false,\n        profile_background_color: '131516',\n        profile_background_image_url: 'http://pbs.twimg.com/profile_background_images/378800000117563543/99e42d29a8e568f33e139bd93fd5f87b.jpeg',\n        profile_background_image_url_https: 'https://pbs.twimg.com/profile_background_images/378800000117563543/99e42d29a8e568f33e139bd93fd5f87b.jpeg',\n        profile_background_tile: true,\n        profile_link_color: '009999',\n        profile_sidebar_border_color: 'FFFFFF',\n        profile_sidebar_fill_color: 'EFEFEF',\n        profile_text_color: '333333',\n        profile_use_background_image: true,\n        profile_image_url: 'http://pbs.twimg.com/profile_images/663315322619998208/CM49H_l-_normal.jpg',\n        profile_image_url_https: 'https://pbs.twimg.com/profile_images/663315322619998208/CM49H_l-_normal.jpg',\n        profile_banner_url: 'https://pbs.twimg.com/profile_banners/169604115/1447056426',\n        default_profile: false,\n        default_profile_image: false,\n        following: null,\n        follow_request_sent: null,\n        notifications: null },\n     geo: null,\n     coordinates: null,\n     place: null,\n     contributors: null,\n     quoted_status_id: 664307028752511000,\n     quoted_status_id_str: '664307028752510976',\n     quoted_status: \n      { created_at: 'Wed Nov 11 05:01:52 +0000 2015',\n        id: 664307028752511000,\n        id_str: '664307028752510976',\n        text: 'Igbo girls are too tough... #HelloChallenge 😁 https://t.co/dlyy8a422T',\n        source: '<a href=\"http://twitter.com/download/android\" rel=\"nofollow\">Twitter for Android</a>',\n        truncated: false,\n        in_reply_to_status_id: null,\n        in_reply_to_status_id_str: null,\n        in_reply_to_user_id: null,\n        in_reply_to_user_id_str: null,\n        in_reply_to_screen_name: null,\n        user: [Object],\n        geo: null,\n        coordinates: null,\n        place: null,\n        contributors: null,\n        is_quote_status: false,\n        retweet_count: 0,\n        favorite_count: 0,\n        entities: [Object],\n        extended_entities: [Object],\n        favorited: false,\n        retweeted: false,\n        possibly_sensitive: false,\n        filter_level: 'low',\n        lang: 'en' },\n     is_quote_status: true,\n     retweet_count: 0,\n     favorite_count: 0,\n     entities: { hashtags: [], urls: [Object], user_mentions: [], symbols: [] },\n     favorited: false,\n     retweeted: false,\n     possibly_sensitive: false,\n     filter_level: 'low',\n     lang: 'en',\n     timestamp_ms: '1447230920851' },\n  _msgid: 'e5adad5c.1a525' }\n\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":363,"wires":[["2b6d37bf.d492c8"]]},{"id":"d6e746b9.2918b8","type":"inject","z":"d5f868a4.2a0798","name":"Send mock tweet to Alchemy","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":162,"y":441,"wires":[["9629e9d7.69d618"]]},{"id":"c9143e3a.36ebc","type":"change","z":"d5f868a4.2a0798","name":"Clear url","rules":[{"t":"delete","p":"url"}],"action":"","property":"","from":"","to":"","reg":false,"x":1423,"y":168,"wires":[["80fb5e10.7f04a"]]},{"id":"29e27fd7.d61d8","type":"subflow:df3a29e.f20c5d8","z":"d5f868a4.2a0798","name":"Iterate","x":502,"y":199,"wires":[[],[]]},{"id":"2b6d37bf.d492c8","type":"function","z":"d5f868a4.2a0798","name":"Extract URL","func":"msg.payload = msg.payload[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":516,"y":320,"wires":[["aa9195ca.556e68"]]}]
