code.json
[{"id":"cf11dcfc.30ee2","type":"debug","z":"d5f868a4.2a0798","name":"","active":true,"console":"false","complete":"true","x":1843,"y":290,"wires":[]},{"id":"e543020b.1abd","type":"function","z":"d5f868a4.2a0798","name":"Test function","func":"var urlRegex =/(\\b(https?|ftp|file):\\/\\/[-A-Z0-9+&@#\\/%?=~_|!:,.;]*[-A-Z0-9+&@#\\/%=~_|])/ig;\nmatches = msg.payload.match(urlRegex);\n\nlinks = [];\nmethod = \"\";\nlinks_exist = false;\n\nif(matches){\n    links = matches;\n    method = 'match';\n    links_exist = true;\n}\n\nif(msg.tweet.entities.urls.length){\n    links = msg.tweet.entities.urls;\n    method = 'entity'\n    links_exist = true;\n}\n \nif (links_exist){\n    msg.payload += \"\\nLinks:\\n\" + JSON.stringify(links) + \"\\nMethod:\\n\" + method;\n}\n\nif (method==='match'){\n    msg.tweet.entities.our_match = matches;\n    console.log(JSON.stringify(msg.tweet.entities))\n}\n \nreturn msg;","outputs":1,"noerr":0,"x":187,"y":531,"wires":[[]]},{"id":"b8e99964.471668","type":"twitter in","z":"d5f868a4.2a0798","twitter":"","tags":"Busted","user":"false","name":"Awesome node","topic":"tweets","x":243,"y":69,"wires":[["2a563368.d5a9cc"]]},{"id":"2a563368.d5a9cc","type":"function","z":"d5f868a4.2a0798","name":"Extract link or text","func":"if(msg.tweet.entities.urls.length){\n    links = msg.tweet.entities.urls;\n    links = links.map(function(obj){\n        return obj.url;\n    });\n    msg.payload = links\n}\n \nreturn msg;","outputs":1,"noerr":0,"x":558,"y":66,"wires":[[]]},{"id":"83b917f3.7c46e8","type":"inject","z":"d5f868a4.2a0798","name":"Start login Ushahidi","topic":"Ushahidi admin token","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":156,"y":380,"wires":[["9be0777d.641f88"]]},{"id":"e73d01da.18c3","type":"function","z":"d5f868a4.2a0798","name":"Mock tweet","func":"msg = { topic: 'tweets/Serr_zubee',\n  payload: [ 'https://t.co/TAOHoQo9uW' ],\n  lang: 'en',\n  tweet: \n   { created_at: 'Wed Nov 11 08:35:20 +0000 2015',\n     id: 664360750706724900,\n     id_str: '664360750706724864',\n     text: 'Stuff in niger https://t.co/TAOHoQo9uW',\n     source: '<a href=\"http://twitter.com/download/android\" rel=\"nofollow\">Twitter for Android</a>',\n     truncated: false,\n     in_reply_to_status_id: null,\n     in_reply_to_status_id_str: null,\n     in_reply_to_user_id: null,\n     in_reply_to_user_id_str: null,\n     in_reply_to_screen_name: null,\n     user: \n      { id: 169604115,\n        id_str: '169604115',\n        name: 'Zubee',\n        screen_name: 'Serr_zubee',\n        location: {\"lat\":13.533334,\"lon\":2.083333},\n        url: null,\n        description: null,\n        protected: false,\n        verified: false,\n        followers_count: 1316,\n        friends_count: 989,\n        listed_count: 6,\n        favourites_count: 169,\n        statuses_count: 37699,\n        created_at: 'Thu Jul 22 18:53:39 +0000 2010',\n        utc_offset: -10800,\n        time_zone: 'Greenland',\n        geo_enabled: true,\n        lang: 'en',\n        contributors_enabled: false,\n        is_translator: false,\n        profile_background_color: '131516',\n        profile_background_image_url: 'http://pbs.twimg.com/profile_background_images/378800000117563543/99e42d29a8e568f33e139bd93fd5f87b.jpeg',\n        profile_background_image_url_https: 'https://pbs.twimg.com/profile_background_images/378800000117563543/99e42d29a8e568f33e139bd93fd5f87b.jpeg',\n        profile_background_tile: true,\n        profile_link_color: '009999',\n        profile_sidebar_border_color: 'FFFFFF',\n        profile_sidebar_fill_color: 'EFEFEF',\n        profile_text_color: '333333',\n        profile_use_background_image: true,\n        profile_image_url: 'http://pbs.twimg.com/profile_images/663315322619998208/CM49H_l-_normal.jpg',\n        profile_image_url_https: 'https://pbs.twimg.com/profile_images/663315322619998208/CM49H_l-_normal.jpg',\n        profile_banner_url: 'https://pbs.twimg.com/profile_banners/169604115/1447056426',\n        default_profile: false,\n        default_profile_image: false,\n        following: null,\n        follow_request_sent: null,\n        notifications: null },\n     geo: null,\n     coordinates: null,\n     place: null,\n     contributors: null,\n     quoted_status_id: 664307028752511000,\n     quoted_status_id_str: '664307028752510976',\n     quoted_status: \n      { created_at: 'Wed Nov 11 05:01:52 +0000 2015',\n        id: 664307028752511000,\n        id_str: '664307028752510976',\n        text: 'Igbo girls are too tough... #HelloChallenge 😁 https://t.co/dlyy8a422T',\n        source: '<a href=\"http://twitter.com/download/android\" rel=\"nofollow\">Twitter for Android</a>',\n        truncated: false,\n        in_reply_to_status_id: null,\n        in_reply_to_status_id_str: null,\n        in_reply_to_user_id: null,\n        in_reply_to_user_id_str: null,\n        in_reply_to_screen_name: null,\n        user: [Object],\n        geo: null,\n        coordinates: null,\n        place: null,\n        contributors: null,\n        is_quote_status: false,\n        retweet_count: 0,\n        favorite_count: 0,\n        entities: [Object],\n        extended_entities: [Object],\n        favorited: false,\n        retweeted: false,\n        possibly_sensitive: false,\n        filter_level: 'low',\n        lang: 'en' },\n     is_quote_status: true,\n     retweet_count: 0,\n     favorite_count: 0,\n     entities: { hashtags: [], urls: [Object], user_mentions: [], symbols: [] },\n     favorited: false,\n     retweeted: false,\n     possibly_sensitive: false,\n     filter_level: 'low',\n     lang: 'en',\n     timestamp_ms: '1447230920851' },\n  _msgid: 'e5adad5c.1a525' }\n\nreturn msg;","outputs":1,"noerr":0,"x":376,"y":232,"wires":[["f710df5.f08ef2"]]},{"id":"d96fcd61.26903","type":"function","z":"d5f868a4.2a0798","name":"Make post request for Ushahidi","func":"if (msg.input_type===\"token\"){\n    context.token = msg.payload.access_token;\n    console.log('token saved');\n} else { // type === tweet\n    console.log('recieved a tweet');\n    console.log(context.token);\n    if(context.token){ // only make request if the token is set\n        console.log('making request');\n        var title = msg.tweet.user.screen_name;\n        var content = msg.tweet.text;\n        var loc = msg.tweet.user.location || {\"lat\":5,\"lon\":55};\n        var author = msg.tweet.user.name;\n        \n        msg.payload = {\n            \"title\":title,\n            \"content\":content,\n            \"locale\":\"en_US\",\n            \"status\":\"published\",\n            \"values\": {\n                \"location_default\":[loc]\n            },\n            \"completed_stages\":[1],\n            \"allowed_privileges\":[\"read\",\"create\",\"search\"],\n            \"form\":{\"id\":1},\n            \"author_realname\":author,\n            \"author_email\":\"test@test.com\"\n        };\n\n        msg.headers = {\n            'Content-Type' : 'application/json',\n            'Cache-Control' : 'no-cache',\n            'Authorization' : 'Bearer ' + context.token\n        };\n\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":1278,"y":305,"wires":[["6cec78d2.931388"]]},{"id":"7af42047.850be","type":"inject","z":"d5f868a4.2a0798","name":"Send mock tweet","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":158,"y":225,"wires":[["e73d01da.18c3"]]},{"id":"9be0777d.641f88","type":"function","z":"d5f868a4.2a0798","name":"Make admin token request","func":"msg.payload = {\n    \"client_secret\" : \"35e7f0bca957836d05ca0492211b0ac707671261\",\n    \"client_id\" : \"ushahidiui\",\n    \"grant_type\" : \"password\",\n    \"username\" : \"admin\",\n    \"password\" : \"admin\",\n    \"scope\" : \"posts media forms api tags savedsearches sets users stats layers config messages notifications contacts\"\n}\n\nmsg.headers = {\n    'Content-Type' : 'application/json',\n    'Cache-Control' : 'no-cache'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":434,"y":379,"wires":[["553667fb.aac998"]]},{"id":"553667fb.aac998","type":"http request","z":"d5f868a4.2a0798","name":"Request admin token Ushahidi","method":"POST","ret":"obj","url":"http://159.122.223.2:8080//oauth/token","x":737,"y":380,"wires":[["1abd978a.e54268"]]},{"id":"1abd978a.e54268","type":"change","z":"d5f868a4.2a0798","name":"","rules":[{"t":"set","p":"input_type","to":"token"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":332,"wires":[["d96fcd61.26903"]]},{"id":"f710df5.f08ef2","type":"change","z":"d5f868a4.2a0798","name":"","rules":[{"t":"set","p":"input_type","to":"tweet"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":285,"wires":[["d96fcd61.26903"]]},{"id":"6cec78d2.931388","type":"http request","z":"d5f868a4.2a0798","name":"Ushahidi post request","method":"POST","ret":"obj","url":"http://159.122.223.2:8080//api/v3/posts","x":1616,"y":280,"wires":[["cf11dcfc.30ee2"]]},{"id":"632fc230.9cd03c","type":"debug","z":"d5f868a4.2a0798","name":"","active":true,"console":"true","complete":"true","x":1481,"y":617,"wires":[]},{"id":"9629e9d7.69d618","type":"function","z":"d5f868a4.2a0798","name":"Create mock tweet","func":"msg = { topic: 'tweets/Serr_zubee',\n  payload: ['http://www.unhcr.org/564200fd1e.html'],\n  lang: 'en',\n  tweet: \n   { created_at: 'Wed Nov 11 08:35:20 +0000 2015',\n     id: 664360750706724900,\n     id_str: '664360750706724864',\n     text: 'Stuff in niger http://www.unhcr.org/564200fd1e.html',\n     source: '<a href=\"http://twitter.com/download/android\" rel=\"nofollow\">Twitter for Android</a>',\n     truncated: false,\n     in_reply_to_status_id: null,\n     in_reply_to_status_id_str: null,\n     in_reply_to_user_id: null,\n     in_reply_to_user_id_str: null,\n     in_reply_to_screen_name: null,\n     user: \n      { id: 169604115,\n        id_str: '169604115',\n        name: 'Zubee',\n        screen_name: 'Serr_zubee',\n        location: {\"lat\":13.533334,\"lon\":2.083333},\n        url: null,\n        description: null,\n        protected: false,\n        verified: false,\n        followers_count: 1316,\n        friends_count: 989,\n        listed_count: 6,\n        favourites_count: 169,\n        statuses_count: 37699,\n        created_at: 'Thu Jul 22 18:53:39 +0000 2010',\n        utc_offset: -10800,\n        time_zone: 'Greenland',\n        geo_enabled: true,\n        lang: 'en',\n        contributors_enabled: false,\n        is_translator: false,\n        profile_background_color: '131516',\n        profile_background_image_url: 'http://pbs.twimg.com/profile_background_images/378800000117563543/99e42d29a8e568f33e139bd93fd5f87b.jpeg',\n        profile_background_image_url_https: 'https://pbs.twimg.com/profile_background_images/378800000117563543/99e42d29a8e568f33e139bd93fd5f87b.jpeg',\n        profile_background_tile: true,\n        profile_link_color: '009999',\n        profile_sidebar_border_color: 'FFFFFF',\n        profile_sidebar_fill_color: 'EFEFEF',\n        profile_text_color: '333333',\n        profile_use_background_image: true,\n        profile_image_url: 'http://pbs.twimg.com/profile_images/663315322619998208/CM49H_l-_normal.jpg',\n        profile_image_url_https: 'https://pbs.twimg.com/profile_images/663315322619998208/CM49H_l-_normal.jpg',\n        profile_banner_url: 'https://pbs.twimg.com/profile_banners/169604115/1447056426',\n        default_profile: false,\n        default_profile_image: false,\n        following: null,\n        follow_request_sent: null,\n        notifications: null },\n     geo: null,\n     coordinates: null,\n     place: null,\n     contributors: null,\n     quoted_status_id: 664307028752511000,\n     quoted_status_id_str: '664307028752510976',\n     quoted_status: \n      { created_at: 'Wed Nov 11 05:01:52 +0000 2015',\n        id: 664307028752511000,\n        id_str: '664307028752510976',\n        text: 'Igbo girls are too tough... #HelloChallenge 😁 https://t.co/dlyy8a422T',\n        source: '<a href=\"http://twitter.com/download/android\" rel=\"nofollow\">Twitter for Android</a>',\n        truncated: false,\n        in_reply_to_status_id: null,\n        in_reply_to_status_id_str: null,\n        in_reply_to_user_id: null,\n        in_reply_to_user_id_str: null,\n        in_reply_to_screen_name: null,\n        user: [Object],\n        geo: null,\n        coordinates: null,\n        place: null,\n        contributors: null,\n        is_quote_status: false,\n        retweet_count: 0,\n        favorite_count: 0,\n        entities: [Object],\n        extended_entities: [Object],\n        favorited: false,\n        retweeted: false,\n        possibly_sensitive: false,\n        filter_level: 'low',\n        lang: 'en' },\n     is_quote_status: true,\n     retweet_count: 0,\n     favorite_count: 0,\n     entities: { hashtags: [], urls: [Object], user_mentions: [], symbols: [] },\n     favorited: false,\n     retweeted: false,\n     possibly_sensitive: false,\n     filter_level: 'low',\n     lang: 'en',\n     timestamp_ms: '1447230920851' },\n  _msgid: 'e5adad5c.1a525' }\n\nreturn msg;","outputs":1,"noerr":0,"x":399,"y":678,"wires":[["2b6d37bf.d492c8"]]},{"id":"d6e746b9.2918b8","type":"inject","z":"d5f868a4.2a0798","name":"Send mock tweet to Alchemy","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":196,"y":631,"wires":[["9629e9d7.69d618"]]},{"id":"aa9195ca.556e68","type":"alchemy-feature-extract","z":"d5f868a4.2a0798","name":"","page-image":"","image-kw":"","feed":"","entity":true,"keyword":"","title":true,"author":true,"taxonomy":"","concept":true,"relation":"","pub-date":"","doc-sentiment":"","x":676,"y":676,"wires":[["a5c3a1d6.5a3c6"]]},{"id":"2b6d37bf.d492c8","type":"function","z":"d5f868a4.2a0798","name":"Extract URL","func":"msg.payload = msg.payload[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":546,"y":626,"wires":[["aa9195ca.556e68"]]},{"id":"a5c3a1d6.5a3c6","type":"function","z":"d5f868a4.2a0798","name":"Find country in Alchemy Data","func":"var entities = msg.features.entity;\nvar countries = entities.filter(function(e){\n    return e.type === 'Country';\n});\n\nmsg.country = countries.reduce(function(a,b){\n    return a.relevance > b.relevance ? a : b;\n});\n\n\nreturn msg;","outputs":1,"noerr":0,"x":866,"y":621,"wires":[["c862d242.379d3"]]},{"id":"97bce038.68432","type":"http request","z":"d5f868a4.2a0798","name":"","method":"GET","ret":"txt","url":"","x":1284,"y":693,"wires":[["632fc230.9cd03c"]]},{"id":"c862d242.379d3","type":"function","z":"d5f868a4.2a0798","name":"Create request for DBPedia","func":"msg.url = msg.country.disambiguated.dbpedia+\".json\";\nmsg.url = msg.url.replace(\"/resource/\",\"/data/\")\nreturn msg;","outputs":1,"noerr":0,"x":1064,"y":692,"wires":[["fdadb8d.f025248","97bce038.68432"]]},{"id":"fdadb8d.f025248","type":"debug","z":"d5f868a4.2a0798","name":"","active":true,"console":"false","complete":"url","x":1234,"y":755,"wires":[]},{"id":"a2cdd370.5d323","type":"debug","z":"d5f868a4.2a0798","name":"","active":true,"console":"false","complete":"country","x":1096,"y":620,"wires":[]}]
